<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>输入文章类型与名称</title>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>

    <script th:src="@{/tinymce/js/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/jquery/jquery-3.5.1.js}"></script>
    <script>
        tinymce.init({
            selector: '#content', //容器，可使用css选择器
            language:'zh_CN', //调用放在langs文件夹内的语言包
            branding:false,//水印
            skin: "zifeiwo",//自定义皮肤
            content_css: "zifeiwo",
            plugins: [ 'quickbars','link','code','table','image','preview','media','fullscreen','textcolor','wordcount','emoticons' ], //选择需加载的插件
            toolbar: [
                'undo redo | bold italic |styleselect|forecolor underline strikethrough subscript superscript removeformat emoticons| alignleft aligncenter alignright',
                ' preview fullscreen | cut copy paste selectall | image media link',
                'quickbars'
            ],
            //选中时出现的快捷工具，与插件有依赖关系
            quickbars_selection_toolbar: 'bold italic  | link blockquote quickimage',
            //图片上传处理程序
            images_upload_url: '/uploadImage',
            //给返回的相对路径指定它所相对的基本路径。
        });

    </script>

</head>
<body>
<div layout:fragment="content" style="max-width: 860px" class="container pt-6">
    <div class="d-flex flex-wrap justify-content-center">
        <div class="d-flex align-items-center">
            <a href="/">
                <img src="/logo/zifeiwo-logo-dark.png" height="80">
            </a>
        </div>
        <div class="d-flex align-items-center">
            <h1 class="display-4">操作日志</h1>
        </div>
    </div>
    <div>
        <form th:action="@{/modifyArticle}" method="post">
            <div class="text-center p-3">
                标题：<input type="text" placeholder="文章标题" th:field="${article.articleTitle}">
                文章类型名称：
                <select >

                    <option th:each="articleType:${TypeList}" th:value="${articleType.articleTypeId}" th:text="${articleType.articleTypeName}"></option>

                </select>
            </div>
            <textarea class="tinymce" th:field="${article.content}">



        </textarea>

            <button type="submit">修改文章</button>
        </form>
    </div>
</div>

</body>
</html>