<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>

</head>
<body>
<div layout:fragment="content">
    <div class="container pt-4">
        <div class="row pl-10">
            <div class="col-md-9">
                <div class="blog-post">
                    <h2 class="blog-post-title text-center" th:text="${article.articleTitle}">标题</h2>
                    <p class="blog-post-meta text-center"><span th:text="${#temporals.format(article.createTime,'yyyy-MM-dd HH:mm')}">发表时间</span><span> &nbsp; BY &nbsp; </span><a href="#" th:text="${article.user?.userName}">文章作者</a></p>
<!--判断是否存在修改时间,修改时间不为空则显示-->
                    <span th:if="${article.updateTime!=null}" th:text="${#temporals.format(article.updateTime,'yyyy-MM-dd HH:mm')}"></span>
                    <p class="text-center"><small>分类 : <em th:text="${article.articleType?.articleTypeName}">开心</em></small></p>
                    <hr>
                    <br>
                    <div th:utext="${article.content}"></div>

                </div>
                <hr>
                <textarea>lslslsl</textarea>
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <!--评论信息******************-->
                <div>


                    <h5>评论区</h5>

<!--                    <div style="margin-bottom: 20px">-->
<!--                        <textarea placeholder="提点意见，让TA有所进步" form="commentForms" name="comment" style="margin-top: 0px; margin-bottom: 0px; height: 79px;"></textarea>-->
<!--                        &lt;!&ndash;和form关联    评论框主体&ndash;&gt;-->
<!--                        <div class="comment__textarea_form" style="overflow: hidden">-->
<!--                            <form action="/recomm/comment" method="post" id="commentForms">-->
<!--                                <input id="album_id" type="text" style="display: none" name="album_id" th:value="${session.currentAlbum.getAid()}">-->
<!--                                <input id="comment_userID" type="text" style="display: none" name="userID" th:value="${session.user}!=null ?${session.user.getUid()}:''">-->
<!--                                &lt;!&ndash;这两个input仅仅只是获取相册id和用户id   不显示&ndash;&gt;-->
<!--                                <input type="submit" value="评论" style="float: right">-->
<!--                            </form>-->
<!--                        </div>-->


<!--                    </div>-->

                    <!--评论列表-->
                    <div class="cc_comments">
                        <div class="cc_comment_list"  th:each="comment,commentStat : ${session.comments}"  style="margin-bottom: 20px">
                            <div class="cc_comment_part">

                                <a style="position:absolute;">
                                    <img class="layui-nav-img" th:src="${comment.getProfile_photo()}!=null ?'/' + ${comment.getProfile_photo()}:'http://t.cn/RCzsdCq'">
                                </a>
                                <div style="margin-left: 40px">

                                    <span th:text="${comment.getUsername()}" style="color: #999;font-size: 12px"></span>
                                    <div th:text="${comment.getC_content()}"></div>
                                    <span th:text="${comment.getC_time()}" style="font-size: 10px;color: #999"></span>
                                    <!--父评论id，即该楼层发起者的id-->
                                    <p style="display: none" th:text="${comment.getC_id()}"></p>
                                    <a href="javascript:;" class="reply_btn" style="color: #999;font-size: 12px">回复</a>
                                </div>

                                <!--子评论-->
                                <div th:if="${not #strings.isEmpty(comment.getChild())}">
                                    <div th:each="commentChild:${comment.getChild()}" style="margin-top: 10px;margin-left: 20px">
                                        <a style="position:absolute;">
                                            <img class="layui-nav-img" th:src="${commentChild.getProfile_photo()} !=null?'/' + ${commentChild.getProfile_photo()}:'http://t.cn/RCzsdCq'">
                                        </a>
                                        <div style="margin-left: 40px">

                                            <span th:text="${commentChild.getUsername()}" style="color: #999;font-size: 12px"></span>
                                            <span th:if="${not #strings.isEmpty(commentChild.getTargetName())}" th:text="'回复：'+${commentChild.getTargetName()}" style="font-size: 12px"></span>
                                            <div th:text="${commentChild.getC_content()}"></div>
                                            <span th:text="${commentChild.getC_time()}" style="font-size: 10px;color: #999"></span>
                                            <!--父评论id，即该楼层发起者的id-->
                                            <p style="display: none" th:text="${comment.getC_id()}"></p>
                                            <a href="javascript:;" class="reply_btn" style="color: #999;font-size: 12px">回复</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

<!--******************************************-->
                <br><br><br><br><br><br><br><br><br><br><br><br>
            </div>

            <div class="col-md-3">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">About</h4>
                        touxiang
                        <br><br><br><br><br><br><br><br>
                        <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Archives</h4>
                        <ol class="list-unstyled mb-0">
                            <li><a href="#">March 2021</a></li>
                            <li><a href="#">February 2021</a></li>
                            <li><a href="#">January 2021</a></li>
                            <li><a href="#">December 2020</a></li>
                            <li><a href="#">November 2020</a></li>
                            <li><a href="#">October 2020</a></li>
                            <li><a href="#">September 2020</a></li>
                            <li><a href="#">August 2020</a></li>
                            <li><a href="#">July 2020</a></li>
                            <li><a href="#">June 2020</a></li>
                            <li><a href="#">May 2020</a></li>
                            <li><a href="#">April 2020</a></li>
                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Elsewhere</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">GitHub</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>