<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>

</head>
<body>
<div layout:fragment="content" class="container pt-5 p-3" style="max-width: 600px;">
    <form class="row g-3" th:action="@{/modifyPassword}" method="post">
        <div class="col-md-12">
            <label class="form-label">登录名:</label>
            <input readonly type="text" class="form-control" placeholder="输入你的登录名" th:field="${user.userName}">
            <span th:errors="${user.userName}"></span>
        </div>
        <div class="col-md-12">
            <label class="form-label">原密码:</label>
            <input type="password" class="form-control" placeholder="输入您的原密码" name="oldPassword">
        </div>
        <div class="col-md-12">
            <label class="form-label">新密码:</label>
            <input type="password" class="form-control" placeholder="输入您的新密码" th:field="${user.password}">
            <span th:errors="${user.password}"></span>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <button type="submit" class="w-75 btn btn-primary bg-dark">修改信息</button>
            <button class="w-25 btn btn-primary bg-white text-black"><a class="text-decoration-none text-black" href="/showUserInfo">放弃修改</a></button>
        </div>
    </form>
</div>
</body>
</html>