<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>成功！</title>
</head>
<body>
	<div layout:fragment="content">
		添加成功！<br>
		文章ID:<span th:text="${article.articleId}"></span><br>
		文章类型:<span th:text="${article.articleType}"></span><br>
	</div>
	<table class="table table-hover text-center">
		<thead>
		<tr>
			<th>ID号</th>
			<th>登录名</th>
			<th>姓名</th>
			<th>性别</th>
			<th>密码</th>
			<th>电话号码</th>
			<th>电子邮件</th>
			<th>微信号</th>
			<th>个性签名</th>
			<th>状态</th>
			<th>注册时间</th>
			<th>修改时间</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="user:${users}">
			<td th:text=${user.userUUID}></td>
			<td th:text=${user.userName}></td>
			<td th:text=${user.name}></td>
			<td th:text=${user.sex}></td>
			<td th:text=${user.password}></td>
			<td th:text=${user.tel}></td>
			<td th:text=${user.email}></td>
			<td th:text=${user.weiXin}></td>
			<td th:text=${user.myWords}></td>
			<td th:text=${user.enable}></td>
			<td th:text=${user.registerTime}></td>
			<td th:text=${user.alterTime}></td>

		</tr>
		</tbody>




	</table>
</body>
</html>